[Unit]
Description=Cyrillic workaround on %I
After=getty.target

BindsTo=getty.target
Requires=getty.target
IgnoreOnIsolate=yes

[Service]
ExecStart=/usr/local/bin/setfont -C /dev/%i latarcyrheb-sun16
Type=oneshot

[Install]
RequiredBy=getty.target
